body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    


  }
  #board{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .circle{
    width: 100px;
    height: 100px;
    background-color: #8f9393;
    border-radius: 50%;

    margin: 12px;

  }

#coded-column{
    visibility: hidden;
}
#buttons{
    margin-top: 25px;
}